{% extends "main/header.html" %}

{% block content %}
{% if not user.is_authenticated %}
<h3 class="center amber-text text-darken-2">Register to analyze your texts!</h3>
<h4 class="left-align">Problution</h4>
       <div style="background-color: #004d66;"><span>
            <div class="section">
                <div class="row">
                    <div class="col s4 amber-text text-darken-2"><p>First World Problem</p></div>
                    <div class="col s8"><p>You have a phone. You have text messages. A lot of text messages. You have questions about those text messages.</p></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col s4 amber-text text-darken-2"><p>First World Solution</p></div>
                    <div class="col s8"><p>TextViz stands on the shoulders of Guido Van Rossum and basic Machine Learning principles as it strives to reach an understanding of your texts. All for you.</p></div>
                </div>
                <hr>
                   <div class="row">
                       <div class="col s4 amber-text text-darken-2"><p>Server Side Problem</p></div>
                    <div class="col s8"> <p>You may experience slightly longer page load times than you're used to, especially if you have a lot of texts. If you have any complaints contact the folks who made the internet.</p></div>
                </div>
            </div>
       </span>
      </div>
<h4 class="left-align">Terminology</h4>
       <div style="background-color: #004d66;"><span>
            <div class="section">
                <div class="row">
                    <div class="col s4">
                        <h6 class="amber-text text-darken-2">Term</h6>
                </div>
                    <div class="col s8">
                        <h6 class="amber-text text-darken-2">Meaning</h6>
                </div>
                     <div class="row">
              <div class="col s4">
            <p>Tokens</p>
              </div>
              <div class="col s8">
              <p>Pieces of text that are fed into TextViz's machine learning model.</p>
              </div>
                     </div>
                    <hr>
                        <div class="row">
              <div class="col s4">
            <p>Confidence</p>
              </div>
              <div class="col s8">
              <p>How sure the TextViz model is that your text is positive or negative.</p>
              </div>
                     </div>
                    <hr>
                                    <div class="row">
              <div class="col s4">
            <p>Word Count</p>
              </div>
              <div class="col s8">
              <p>Just what it implies: the number of words in a text or group of texts.</p>
              </div>
                     </div>
                    <hr>
                        <div class="row">
              <div class="col s4">
            <p>Lag</p>
              </div>
              <div class="col s8">
              <p>The time between sending and receiving a text.</p>
              </div>
                     </div>
                </div></div>
       </span>
      </div>
{% endif %}
{% if user.is_authenticated %}
<h1>Upload Texts</h1>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" name="msgFile">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
      <button class="btn amber darken-2" type="submit">Submit</button>
  </form>




<!--modal code taken from: https://www.jquery-az.com/6-examples-materialize-modals-live-demos-code/-->
  <!-- Modal Structure -->

<a class="waves-effect waves-light btn green darken-1 modal-trigger left" href="#demo-modal">Help</a>
  <div id="demo-modal" class="modal">

    <div class="modal-content" style="background-color:#076b87">

      <h4 class="amber-text text-darken-2">Information</h4>
      <p>If you don't have a .xml or your current file is not working, generate one using SMS Backup and Restore.</p>
        <p>Content may take a few seconds to load, especially if you have a lot of texts.</p>
    </div>

    <div class="modal-footer">

      <a href="#!" class="modal-action modal-close waves-effect waves-red btn green lighten-1">Close</a>

    </div>

  </div>

<script>
$(document).ready(function(){

    $('.modal').modal();

  })
</script>
{% endif %}
{% endblock %}